<app-navbar></app-navbar>
  <div class="container-fluid fullscreen">


    <div class="row d-flex justify-content-center align-items-center fullscreen">

      <div *ngIf="name">
              <i class="fa slow-spin" >
                <img src="assets/res/think.png" style="max-width: 48px;">
              </i>
      </div >
      <div *ngIf="!name">
        <div class="row">
          <div class="container">
                <h1>Whoops!</h1>
                <p>404 - Page not found</p>
                <p>
                    One of our interns must be fired for this unacceptable failure!
                </p>
          </div>
          <div class="text-center mx-auto">
            <img src="assets/res/404-page_web-res.png" style="width: 100%">
            <!-- <img src="assets/res/404-page_web-res.png" style="max-width: 48px;"> -->
          </div>
        </div>
        <div class="row mx-auto" style="max-width: 800px">
          <div class="col d-flex justify-content-center" style="max-width: 28%">
            <app-button-primary (click)="checkNames('Taylor')" text="Taylor"></app-button-primary>
          </div>
          <div class="col d-flex justify-content-center" style="max-width: 20%">
            <app-button-primary (click)="checkNames('Siegfried')" text="Siegfried"></app-button-primary>
          </div>
          <div class="col d-flex justify-content-center" style="max-width: 20%">
            <app-button-primary (click)="checkNames('Chelsea')" text="Chelsea"></app-button-primary>
          </div>
          <div class="col d-flex justify-content-center" style="max-width: 32%">
            <app-button-primary (click)="checkNames('Lucas')" text="Lucas"></app-button-primary>
          </div>
        </div>


        <div class="initial">
        <hr/>
          <p>In a forgiving mood? Let them all keep their jobs.</p>
        </div>


        <div>
          Return to the <a href="/">homepage</a>.
        </div>
      </div>
    </div>
  </div>
<app-page-footer></app-page-footer>
