<div class="parent" id="building" progress=0 total=0>
  <img *ngIf="build1" class="image1" src="../../assets/res/Skyscraper3Segments/Skyscraper3A.svg"/>
  <img *ngIf="build2" class="image2" src="../../assets/res/Skyscraper3Segments/Skyscraper3B.svg"/>
  <img *ngIf="build3" class="image2" src="../../assets/res/Skyscraper3Segments/Skyscraper3C.svg"/>
  <img *ngIf="build4" class="image2" src="../../assets/res/Skyscraper3Segments/Skyscraper3D.svg"/>
  <img *ngIf="build5" class="image2" src="../../assets/res/Skyscraper3Segments/Skyscraper3E.svg"/>
</div>
