@import "../../styles";
@import "../button-primary/button-primary.component";
i{
  font-size: 20px;
}
.slow-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
}
// .app-button-primary{
//   border-radius: 15px;
//   box-shadow: 2px $dark-grey;
//   background-color: $green;
//   color: $white;
//   padding: 7px;
// }


$disabledTint: #D02070;
.disabled{
  background-color: $light-red;
}


/**
 * Override input focus border color
 */
input[type='text']:focus:not([readonly]) + label,
input[type='date']:focus:not([readonly]) + label,
input[type='email']:focus:not([readonly]) + label,
input[type='password']:focus:not([readonly]) + label {
  color: $hover-color;
}

input[type='text']:focus:not([readonly]),
input[type='date']:focus:not([readonly]),
input[type='email']:focus:not([readonly]),
input[type='password']:focus:not([readonly]) {
  border-bottom: 1px solid $hover-color;
  box-shadow: 0 1px 0 0 $hover-color;
}
