<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center fullscreen">
    <form [formGroup]="loginForm">
      <h2 class="text-center mb-4">Log in</h2>
          <label for="emailtest">Email: </label>
          <input formControlName="email" type="email" id="emailtest"><br>
          <label for="passwordtest">Password: </label>
          <input formControlName="password" type="password" id="passwordtest"><br>

          <!-- Pull button-primary component -->
          <app-button-primary
            [disabled]="!loginForm.valid"
            (click)="login()"
            type="button"
            text="Login"
          ></app-button-primary>


    </form>
  </div>
</div>

<app-page-footer></app-page-footer>
