@import "../../styles";

button {
  border-radius: 15px;
  box-shadow: 2px $dark-grey;
  background-color: $green;
  color: $white;
  padding: 7px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
