<app-navbar></app-navbar>
<ng-container *ngIf="isLoading" >
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center fullscreen">
      <div class="row"> <div class="col">
            <i class="fa slow-spin" >
              <img src="assets/res/think.png" style="max-width: 48px;">
            </i>
      </div> </div>
      <div class="row" > <div class="col">
          <p> Loading Profile...</p>
      </div> </div>
    </div>
  </div>
</ng-container>

<div *ngIf="!isLoading" class="container-fluid" style="margin-top: 100px;">
  <div>
    <p>Hello, {{auth.getUser().fname}}! Here are your stats:</p>
  </div>
  <div class="row d-flex justify-content-around align-items-center fullscreen">
  <!-- <div class="row d-flex align-items-center fullscreen"> -->
    <div class="col-xs-3">
      <p *ngFor="let s of stuff"> {{ s.type }}: {{s.done}}/{{ s.total }}</p>
    </div>
    <!-- <div class="col-xs-6">
      <p>yeet</p>
    </div> -->
    <app-building>
    </app-building>
  </div>
</div>
<app-page-footer></app-page-footer>
